{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Sign UP {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<!-- NEW HTMX BASED MODAL -->
<div id="modal" class="modal fade">
  <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

  <div class="container position-sticky z-index-sticky top-1">
    <div class="row">
      <div class="col-12">

        {% include "includes/navigation-fullscreen.html" %}

      </div>
    </div>
  </div>

  <main class="main-content  mt-0">

    <section class="min-vh-100 mb-8">
      <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/curved14.jpg');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5 text-center mx-auto">
              <h1 class="text-white mb-2 mt-5">Pricing Page!</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mt-lg-n10 mt-md-n11 mt-n10">
          
          <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
            <div class="card z-index-0">

              <div class="card-header text-center pt-4">
                <h5>Starter</h5>
              </div>

              <div class="row px-xl-5 px-sm-4 px-3">
                
                <div class="mt-2 position-relative text-center">
                  <p class="text-sm font-weight-bold mb-2 text-secondary text-border d-inline z-index-2 px-3">
                      One Team
                  </p>
                </div>

              </div>

              <div class="card-body">                    

                      <div class="text-center">
                        <button type="submit" name="register" class="btn bg-gradient-dark w-100 my-4 mb-2">Choose Starter</button>
                      </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
            <div class="card z-index-0">

              <div class="card-header text-center pt-4">
                <h5>Professional</h5>
              </div>

              <div class="row px-xl-5 px-sm-4 px-3">
                
                <div class="mt-2 position-relative text-center">
                  <p class="text-sm font-weight-bold mb-2 text-secondary text-border d-inline z-index-2 px-3">
                      10 Teams
                  </p>
                </div>

              </div>

              <div class="card-body">                    

                      <div class="text-center">
                        <button class="btn bg-gradient-dark w-100 my-4 mb-2" hx-get="{% url 'create_account' %}" hx-target="#dialog">Choose Professional</button>
                      </div>
              </div>
            </div>
          </div>




          <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
            <div class="card z-index-0">

              <div class="card-header text-center pt-4">
                <h5>Enterprise</h5>
              </div>

              <div class="row px-xl-5 px-sm-4 px-3">
                
                <div class="mt-2 position-relative text-center">
                  <p class="text-sm font-weight-bold mb-2 text-secondary text-border d-inline z-index-2 px-3">
                      100 Teams
                  </p>
                </div>

              </div>

              <div class="card-body">                    
                      <div class="text-center">
                        <button type="button" class="btn bg-gradient-dark w-100 my-4 mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          Choose Enterprise</button>
                      </div>
              </div>
            </div>
          </div>




        </div>
      </div>
    </section>


    {% include "includes/footer-fullscreen.html" %}

  </main>

  {% endblock content %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}
  {% endblock javascripts %}
